html {
	color:#5E4827;
	background:#EEEEEE url(images/html.jpg);
	}
table {
	border:1px solid #CAA76A;
	}
th, td {
	border:1px solid #CAA76A;
	}
th, h3 {
	background:url(images/th.png);
	}
input, textarea, select {
	border:1px solid #CAA76A;
	color:#5E4827;
	}
p:hover input, p:hover textarea, p:hover select, input:focus, textarea:focus, select:focus {
	border-color:#9F864D;
	}
a {
	color:#9F864D;
	}
a:hover, a:focus {
	color:#C98E36;
	}
ul li {
	border:1px solid #CAA76A;
	}
ul li a:hover, ul li a:focus, ul li a.active {
	background:url(images/th.png);
	}
ul li ul {
	background:#FFFEF5 url(images/menu.png) repeat-y;
	border:2px solid #CAA76A;
	border-width:1px 2px 2px 0;
	}
ul li ul a:hover, ul li ul a:focus, ul li ul a.active {
	background:url(images/menu_active.png) repeat-y;
	}
ul li ul a.active span {
	border:1px solid #F3F3F3;
	border-width:1px 0;
	}
li ul a:hover span, li ul a:focus span {
	background:url(images/th.png);
	}
h2, .chart thead th, #visits {
	background:url(images/thb.png);
	border:1px solid #CAA76A;
	}
h3 {
	border-bottom:1px solid #CAA76A;
	border-top:1px solid #CAA76A;
	}
p:hover {
	background:#FFFCDF;
	}
fieldset {
	border:1px solid #CAA76A;
	}
fieldset:hover {
	border-color:#D8C985;
	}
fieldset:hover legend {
	border-color:#D3AF4B;
	}
fieldset dfn {
	color:#8B7429;
	}
fieldset legend {
	background:#FFF1CB;
	border:1px solid #CAA76A;
	border-left:6px solid #CAA76A;
	}
fieldset legend:hover, .expanded legend {
	border-left:8px solid #D3AF4B;
	}
fieldset legend:hover {
	color:#C98E36;
	}
hr {
	border:1px solid #958347;
	}
#body {
	width:750px;
	background:url(images/body.jpg) center repeat-y;
	border:1px solid #CAA76A;
	border-width:0 1px;
	}
#content {
	margin:0;
	}
#footer {
	padding:0 0 1px 0;
	width:750px;
	}
#footer div {
	float:left;
	width:200px;
	text-align:left;
	text-indent:3px;
	}
#gototop {
	background:url(images/gototop.png) no-repeat;
	}
a#gototop:hover, a#gototop:focus {
	background:url(images/gototop_active.png);
	}
#debug {
	border:1px solid #CAA76A;
	}
#search {
	background:#FAEDC2;
	border-bottom:1px solid #CAA76A;
	}
#detailed tr:hover td, #details tr:hover td, #general td tr:hover td, #technical td tr:hover td, #geoip td tr:hover td, #singlegroup td tr:hover td, #previousvisits tr:hover td {
	background-color:#FFFCDF !important;
	}
#general td th, #technical td th, #geoip td th {
	border-bottom:1px solid #CAA76A;
	}
#piechart {
	border-left:1px solid #CAA76A !important;
	}
#geoipmap {
	background:white;
	border:3px dashed #BEBEBE;
	}
.chart {
	border:1px solid #CAA76A;
	}
.chart td:hover span, .tooltip:hover span {
	border:1px solid #CAA76A;
	background:#FFFCDF;
	color:#02356F;
	}
.chart td {
	border:1px solid #E6E6E6;
	}
.nogd td {
	background:url(images/chart.png) repeat-x;
	}
.chart td div div {
	border:1px solid #BCBCBC;
	border-bottom:0;
	background:#F9F9F9;
	}
.chart td div.unique {
	background:#D7D7D7;
	}
.chart td div.returns {
	background:#E8E8E8;
	}
.chart tbody th {
	border-top:1px solid #CAA76A;
	}
.chart .scale {
	background:url(images/chart.png);
	}
.chart .scale pre {
	background:url(images/chart.png);
	}
.chart tfoot th {
	background:url(images/thb.png) center;
	border:1px solid #CAA76A !important;
	}
.chart hr {
	border:1px solid #b8b8b8;
	}
.chart hr.uni {
	border:1px solid #777777;
	}
.chart .max {
	border-color:#919191;
	}
.chart th em {
	color:#3A3A3A;
	}
.summary thead th {
	background:url(images/thb.png) center;
	}
.summary td:hover {
	background:#F8F8F8;
	}
.button {
	background:url(images/th.png) center;
	border:1px solid #CAA76A;
	color:#5E4827;
	}
.notexpanded legend {
	border-left:6px solid #CAA76A;
	}
.groupdesc {
	border:1px solid #CAA76A;
	}
.geoipinfo {
	background:#FFFCDF;
	border:1px solid #CAA76A;
	}